body {
    background-color: rgb(196, 255, 211); color: brown; font-size: 20px;
     }
p {
    color:black;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h2 {
    color: blue;
    font-size: 30px;
    
}